<div class="container">
  <h1>Welcome to Hacker News!</h1>
  <p>your source for fake new material!</p>
</div>

<div class="container">
  <ul>
      <li>Name:    <%=@users_page.name%></li>
      <li>Created: <%=@users_page.created_at%></li>
      <li></li>
  </ul>
</div>